<div class="container">
    <div class="pure-g">
        <div class="pure-u-8-24 left-nav" ng-include src="'components/searchAndFilter/SearchAndFilterTemplate.html'"></div>
        <div class="pure-u-16-24 right-nav" ng-include src="'components/itemsList/ItemsListTemplate.html'"></div>
    </div>
</div>