body {
    margin-top: 50px;
}

.small-font {
    font-size: 12px;
}

.bold {
    font-weight: 700;
}

.left-nav {
    position: fixed;
}

.pagination {
    margin-bottom: 45px;
    float: right;
    padding-right: 35px;
}

.right-nav {
    position: fixed;
    max-height: 100%;
    overflow-y: scroll;
    right: 0;
}

.sorting {
    display: block;
    height: 40px;
    span {
        float: left;
    }

    .pagination {
        float: right;
        margin: 0;
    }
}

.sort-list {
    list-style: none;
    overflow: hidden;
    float: left;
    padding: 0;

    li {
        display: inline-block;
        width: auto;
        white-space: nowrap;
        margin-left: 10px;

        :not(.active) {
            color: black;
        }
    }
}

.main {
    display: block;

    .item, .username {
        float: left;
    }

    .item {
        padding: 10px;
    }

    .item-text, .user-text {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price {
        float: right;
    }

    .username {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.total-items {
    margin-top: 30px;
}

.filter {
    margin-top: 30px;

    .filter-header {
        margin-top: 15px;
    }

    .filter-text {
        border-bottom: 1px solid #eee;
        padding: 0px 0px 15px 0px;
        width: 90%;
    }

    ul {
        list-style: none;
        padding-left: 15px;

        label {
            font-weight: normal;
        }
    }

}

