<div ng-controller="ItemsListController">
    <div class="small-font sorting pure-u">
        <div>
            <span class="bold">Sort By: </span>
            <ul class="sort-list">
                <li ng-repeat="item in sortBy">
                    <a ng-class="{'active': item.active}"
                       ng-click="switchSort(item.sortKey)"
                    >{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main pure-u">
        <div class="item pure-u-1-3" ng-repeat="item in results">
            <div class="item-img">
                <img ng-src="{{item.Images[0].url_170x135}}"/>
            </div>

            <div class="item-text">
                {{item.title}}
            </div>
            <div class="user-text">
                        <span class="username">
                            {{item.User.login_name}}
                        </span>
                        <span class="price">
                            {{item.price | currency}}
                        </span>
            </div>
        </div>

        <div class="pure-u-1 pagination">
            <uib-pagination class="pagination"
                            total-items="totalItems"
                            ng-model="currentPage"
                            direction-links="false"
                            force-ellipses="false"
                            ng-change="paginationChange()"
                            max-size="maxSize"
                            items-per-page="perPage"
                            class="pagination-sm"
                            boundary-link-numbers="false"
                            direction-links="false"
                            boundary-links="true"
                            rotate="true">
            </uib-pagination>
        </div>
    </div>
</div>