<div ng-controller="SearchAndFilterController">
    <form class="pure-form">
        <div class="pure-g">
            <div class="pure-u-1">
                <input class="pure-input-2-3" type="text" ng-model="formData.search" placeholder="Search">
                <button type="submit"
                        class="pure-button pure-button-primary"
                        ng-click="search()"
                >
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>

            <div class="pure-u-1 small-font" ng-click="clearSearchForm()">
                <a>Clear search</a>
            </div>
        </div>

        <div class="filter ">
            <div class="filter-text bold">
                <span>Filter Items By</span>
            </div>

            <div class="filter-header" ng-repeat="(key,val) in filters">
                <span class="filter-header-text">{{key}}</span>
                <ul>
                    <li ng-repeat="option in val.options">
                        <label>
                            <input type="checkbox"
                                   ng-model="option.checked"
                                   ng-change="search()"
                            >
                            {{option.text}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>